<header class="sidebar-header">

    <div class="first">
        <div class="header-content">
            <a class="blog-title" href="http://extraloyal.com" title="{{@blog.title}}">
                {{@blog.title}}
                <span class="byline">{{@blog.description}}</span>
            </a>
            <div class="social-icons">
				<!-- <a href="http://twitter.com/alexmckenley" title="Alex on twitter">&#x6b;</a> -->
				<a href="http://facebook.com/bajaalex" title="Facebook">&#x6a;</a>
				<a href="https://plus.google.com/+AlexTaylor1/" title="Google Plus">l</a>
				<a href="http://github.com/alexmckenley" title="Github">n</a>
            </div>
        </div>
    </div>

    <div class="second">
        <a class="expander" title="Show menu">
        	<div class="expand"><span class="icon"></span>Menu</div>
        	<div class="collapse"><span class="icon collapse"></span>Collapse</div>
        </a>
		<!--div class="cover-wrapper">
			<img class="cover" src="{{@blog.cover}}" alt="" title="" />
		</div-->
        <ul class="main-menu">
                <li class="menu-item">
                    <a href="{{@blog.url}}">Home</a>
                </li>
                <li class="menu-item">
                    <a href="{{@blog.url}}/projects">Projects</a>
                </li>
                <li class="menu-item">
                    <a href="{{@blog.url}}/resume">Resume</a>
                </li>
            </ul>
    </div>

</header>
